.main-page {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.display-num {
	display: flex;
	width: 100vw;
	justify-content: center;
}
.display-num h3 {
	padding: 0 1rem;
}

.input {
	outline: none;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.8rem;
	border-radius: 2rem;
}
