.main-page {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

h1 {
	margin: 0.5rem 0;
}

.display-num {
	display: flex;
	width: 100vw;
	justify-content: center;
}

/* num1 and num2 */
.display-num h3 {
	padding: 0 1rem;
}

.input {
	outline: none;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.8rem;
	border-radius: 2rem;
}

.operation-title {
	margin: 0.5rem;
}

.operation-buttons button {
	outline: none;
	border: none;
	margin: 0.5rem;
	width: 4rem;
	height: 2rem;
	background-color: #1e90ff;
	color: white;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	border-radius: 0.5rem;
	cursor: pointer;
}

.operation-buttons button:hover {
	background-color: #51a0ee;
	color: rgba(255, 255, 255, 0.849);
}
